<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="row">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="col-xs-3">
        <img class="logo" src="../assets/images/rocketboard.png">
      </div>
      <div class="col-sm-6 repositories">
        <ui-select multiple ng-model="multipleOptions.selectedRepositories" theme="bootstrap">
          <ui-select-match placeholder="Click here to select repositories">{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="repository in repositories | filter: $select.search">
            {{repository.name}}
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-xs-3">
         <button class="btn btn-default pull-right">Criar issue</button>
         <input type="text" class="issue-search pull-right" ng-model="issueSearch.number" placeholder="Search"></input>
         <i class="fa fa-ban fa-fw pull-right" style="color:white" ng-show="issueSearch.number" ng-click="issueSearch.number = ''"></i>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row page-header" ng-model="allIssues">
    <div id="columns" class="row">
      <div class="col-sm-{{12/board.numberOfColumns}} col-xs-{{12/board.numberOfColumns}}" ng-repeat="column in board.columns" data-columnindex="{{$index}}" id="column{{$index}}">
        <div class="column">
          <div class="column-header">
            <i class="fa fa-plus-square" ng-show="$index == 0 && board.withoutStatusIssues.length > 0" ng-controller="BoardAddIssueController" ng-click="showModal()"></i>
            <span>{{column.name}} ({{column.issues.length}})</span>
          </div>
          <div class="column-body">
            <ul class="issues issue-list" as-sortable="boardSortOptions" ng-model="column.issues">
              <li ng-repeat="issue in column.issues | filter:issueSearch " as-sortable-item>
                <div as-sortable-item-handle class="issue">
                  <div class="issue-header">
                    <div target="_blank" class="issue-number pull-right" style="background-color:{{issue.repository.color}}">
                      <a class="issue-number right">#{{issue.number}}</a>
                    </div>
                    <div class="issue-assigned">
                      <a class="assigns-myself">
                        <span class="btn btn-default btn-xs"><i class="fa fa-user"></i> ASSIGN ME</span>
                      </a>
                    </div>
                  </div>
                  <div class="issue-body"><a class="title list-group-item-heading" href="" target="_blank">{{issue.title}}</a>
                  </div>
                  <div class="labels"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
