<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>
          Adicionar issues ao Backlog
        </h4>
      </div>
      <div class="modal-body">
        <ui-select multiple ng-model="multipleOptions.selectedIssues" theme="bootstrap">
          <ui-select-match placeholder="Clique aqui para adicionar as issues">#{{$item.number}} - {{issue.title}}</ui-select-match>
          <ui-select-choices repeat="issue in board.issues | statusFilter:'nostatus' | filter: $select.search">
            #{{issue.number}} - {{issue.title}}</br>
            <small>
              {{issue.repository.name}} 
            </small>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="addToBoard()">Confirmar</button>
        <button type="button" class="btn btn-link" ng-click="$hide()">Fechar</button>
      </div>
    </div>
  </div>
</div>
